* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', cursive;
}

body {
    background-image: url(fon1.jpg);
    background-repeat: repeat;
    background-size: contain;
}

/* Цветовая схема */
.bg-pink {
    background-color: #ffd1e0;
}

.bg-section {
    background-color: #bb53a430;
}

.table-pink {
    background-color: #fe9be490;
}

/* Стили для навигации */
.nav-link {
    color: #000000;
    font-family: Courier New;
    text-decoration: none;
    font-size: 25px;
}

.nav-link:hover {
    color: #bb53a4;
}

/* Стили для логотипа */
.rounded-image {
    border-radius: 10px;
}

/* Дополнительные стили для улучшения внешнего вида */
.list a {
    color: #bb53a4;
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #bb53a4;
    border-color: #bb53a4;
}

.btn-primary:hover {
    background-color: #9a4288;
    border-color: #9a4288;
}
